.backd a{
    display:inline-block;
    margin-right:auto;
    margin-left: 71.6%;
    margin-top: -1%;
    text-decoration: none;
    color:white;
    text-align: center;
    font-family:"Pacifico", cursive;
    text-shadow: 2px 2px black;
    font-size: 2vw;
}
.backd a:hover{
    background-color: #ffffff4c;
}