* p, h2{
    font-family:"Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.landingPage{
    background-image: url('../../assets/images/landingImg.png');
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
   
   
}
.content h1{
    
    color:white;
    font-family:"Pacifico", cursive;
    font-size:5vw;
    font-weight: 400;
    font-style: normal;
    height: 5px;
    display: block;
    margin-left: 5dvb;
    margin-right: auto;
    margin-top:0.6%;
    margin-bottom: 5%;
    text-shadow: 2px 2px black;
}
h2{
    font-size: 3vw;
    display: absolute;
    font-style: normal;
    width: 200px;
    color:white;
    text-align: center;
    position: absolute;
    display: inline-block;
    margin-top:9%;
    text-shadow: 2px 2px black;
    margin-left: 7vw;
    margin-right: auto;
}
.story{
    font-style: normal;
    color:white;
    font-size:2vw;
    text-align: center;
    position: absolute;
    display: inline-block;
    margin-top: 9%;
    margin-left:32vw;
    text-shadow: 2px 2px black;
}
.para{
   
    font-style: normal;
    color:white;
    font-size:1.7vw;
    text-align: center;
    position: absolute;
    border-radius: 150px;
    border: 2px solid white;
    padding: 50px;
    display: block;
    margin-top: 22%;
    margin-left: 70%;
    margin-bottom: 5%;
    text-shadow: 2px 2px black;
   
}
