*{
    margin:0;
    padding:0;
    font-family:"Pacifico", cursive;
    font-weight: 400;
}
.navList{
    width:100%;
    background: black;
    overflow:auto;
    display:flex;
}
.bar{
    padding:0;
    margin:0 0 0 32vw;
    list-style:none;
}
.list{
    float:left;
}
.img img{
    position: absolute;
    margin-top:16px;
    margin-left:30px;
    width: 3vw;
    height: 3vw;
}
.img img:hover{
   
    width: 3.2vw;
    height: 3.2vw;
}
.list a{
    display:inline-block;
    padding:20px 15px;
    margin-left:30px;
    text-decoration: none;
    color:white;
    text-align: center;
    font-family:"Pacifico", cursive;
    font-weight:lighter;
    text-shadow: 2px 2px black;
    font-size: 1.5vw;
}
.menu a{
    margin-left: 0;
}
ul li ul.dropdown li{
    display:inline-flex;
    background-color:transparent;
    margin-left: -30px; 
}
ul li ul.dropdown li a{
    color:white;
    width:70%;
    text-align: start;
   
}
ul li ul.dropdown{
    background-color:transparent;
    position:absolute;
    z-index:999;
    display:none;
}
.list a:hover{
  background-color: #383737;
}
.list img{
    margin-top:3px;
}
ul li:hover ul.dropdown{
    display:block;
}
ul li ul.dropdown li a:hover{
    background-color: #ffffff4c;
}
.button a{
    border:1px solid white;
    margin:12px 7px 0 0;
    padding:7px 12px 7px 12px;
    border-radius: 5px;
    margin-left: 22vw;
}

@media screen and (max-width:859px){
   .PC{
    display:none;
   }
   .mobile{
    display:block;
   }
}
@media screen and (min-width:860px) {
  
    .mobile{
        display:none;
    }
}

@media screen and (min-width:1250px) {
    .button a{
        margin-left: 28vw;
    }
    .mobile{
        display:none;
    }
}

@media screen and (min-width:1500px) {
    .button a{
        margin-left: 32vw;
    }
    .mobile{
        display:none;
    }
}
